{% extends 'frontClient/base.html.twig' %}

{% block body %}

<div class="d-flex justify-content-center items-align-center p-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="mb-4">
                        <label for="password" class="text-gray-900 mb-2">Change Password</label>
                        {{ form_row(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg px-4 py-2">Modifier</button>
                {{ form_end(form) }}
  </div>
</div>
</div>

{% endblock %}
