{% extends 'frontClient/base.html.twig' %}

{% block title %}New Panier{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('app_panier_index') }}">Retourner au panier</a>
{% endblock %}
