/* 2.04 - Template Gapping or Spacing - Start
================================================== */
.section_space_lg {
	padding-top: 150px;
	padding-bottom: 160px;
}
.section_space_md {
	padding-top: 120px;
	padding-bottom: 120px;
}
.section_space_sm {
	padding-top: 80px;
	padding-bottom: 80px;
}
/* 2.04 - Template Gapping or Spacing - End
================================================== */