{% extends 'base.html.twig' %}

{% block title %}New Formulaire{% endblock %}

{% block body %}
    <h1>Create new Formulaire</h1>

    {{ include('formulaire/_form.html.twig') }}

    <a href="{{ path('app_formulaire_index') }}">back to list</a>
{% endblock %}
