{% extends 'frontClient/base.html.twig' %}
{% block body%}
        <!-- Contact Section - Start
        ================================================== -->
        <section class="contact_section ">
            <div class="container">
              <div class="conatiner_box">
                <div class="section_heading mb-4">
                  <div class="row justify-content-lg-between">
                    <div class="col-lg-6">
                      <h2 class="section_heading_text mb-0">
                        Connect with <mark>HelpMeBalance</mark>
                      </h2>
                    </div>
                    <div class="col-lg-6">
                      <p class="section_heading_description mb-0 ps-lg-4">
                        We're here to listen and support you. Reach out to us for any inquiries or assistance.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="row justify-content-lg-between">
                  <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="input_name">Name</label>
                          <input
                            id="input_name"
                            class="form-control"
                            type="text"
                            name="name"
                            placeholder="Your name"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="input_phone">Phone</label>
                          <input
                            id="input_phone"
                            class="form-control"
                            type="tel"
                            name="phone"
                            placeholder="Phone number"
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group mb-4">
                          <label for="input_message">Message</label>
                          <textarea
                            id="input_message"
                            class="form-control"
                            name="comment"
                            placeholder="Your message"
                          ></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">
                          <span class="btn_text" data-text="HelpMeBalance">
                            Get in Touch with Us
                          </span>
                          <span class="btn_icon">
                            <i class="fa-solid fa-arrow-up-right"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="ps-lg-4">
                      <div class="row mb-5">
                        <div class="col-md-6">
                          <ul class="contact_info_list unordered_list_block">
                            <li>
                              <div class="item_icon">
                                <i class="fa-solid fa-phone"></i>
                              </div>
                              <div class="item_content">
                                <h3 class="item_title">Phone Number</h3>
                                <p class="item_info mb-0">+1 234 56 78 123</p>
                              </div>
                            </li>
                            <li>
                              <div class="item_icon">
                                <i class="fa-solid fa-fax"></i>
                              </div>
                              <div class="item_content">
                                <h3 class="item_title">Fax</h3>
                                <p class="item_info mb-0">+1 234 56 78 123</p>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="contact_info_list unordered_list_block">
                            <li>
                              <div class="item_icon">
                                <i class="fa-solid fa-envelope"></i>
                              </div>
                              <div class="item_content">
                                <h3 class="item_title">Email</h3>
                                <p class="item_info mb-0">
                                  info@talkingminds.com
                                </p>
                              </div>
                            </li>
                            <li>
                              <div class="item_icon">
                                <i class="fa-solid fa-location-dot"></i>
                              </div>
                              <div class="item_content">
                                <h3 class="item_title">Location</h3>
                                <p class="item_info mb-0">
                                  49, Caradon Hill, ULBSTER
                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <h3 class="social_title">Follow Us:</h3>
                      <ul class="social_links unordered_list">
                        <li>
                          <a class="bg-primary" href="#!"
                            ><i class="fa-brands fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a class="bg-primary" href="#!"
                            ><i class="fa-brands fa-instagram"></i
                          ></a>
                        </li>
                        <li>
                          <a class="bg-primary" href="#!"
                            ><i class="fa-brands fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a class="bg-primary" href="#!"
                            ><i class="fa-brands fa-whatsapp"></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Contact Section - End
          ================================================== -->
{% endblock %}