{% extends 'frontClient/base.html.twig' %}
{% block body %} 
          <section class="faq_section ">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="ps-lg-5">
                      <div class="section_heading mb-lg-4 mb-2">
                        <h2 class="section_heading_text mb-0">
                          Exploring Common Mental Health Questions
                        </h2>
                      </div>
                      <div class="accordion" id="faq_accordion">
                        <div class="accordion-item">
                          <div class="accordion-header" id="heading_one">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse_one"
                              aria-expanded="true"
                              aria-controls="collapse_one"
                            >
                              What is mental health?
                            </button>
                          </div>
                          <div
                            id="collapse_one"
                            class="accordion-collapse collapse show"
                            aria-labelledby="heading_one"
                            data-bs-parent="#faq_accordion"
                          >
                            <div class="accordion-body">
                              <p class="m-0">
                                Mental health is a <b>broad term</b> that refers to our <b>emotional</b>, <b>psychological</b>, and <b>social well-being</b>. 
  It encompasses how we <b>think</b>, <b>feel</b>, and <b>behave</b>, and influences how we handle <b>stress</b>, <b>relate to others</b>, and make <b>choices</b> in life. 
  Essentially, it's about finding a <b>balance</b> in all aspects of life and maintaining a <b>positive sense</b> of well-being.
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <div class="accordion-header" id="heading_two">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse_two"
                              aria-expanded="false"
                              aria-controls="collapse_two"
                            >
                            What should I do if the support I'm receiving doesn't feel helpful?
                            </button>
                          </div>
                          <div
                            id="collapse_two"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading_two"
                            data-bs-parent="#faq_accordion"
                          >
                            <div class="accordion-body">
                              <p class="m-0">
                                If the <strong>support</strong> you're receiving doesn't seem to be meeting your needs, it's essential to communicate openly with your <strong>provider</strong>. 
                                Together, you can explore <strong>alternative approaches</strong>, adjust your <strong>treatment plan</strong>, or seek additional <strong>resources</strong> and <strong>support networks</strong>. 
                                Remember, finding the right support is a <strong>collaborative process</strong>, and your <strong>well-being</strong> is our top priority.
                              </p>
                              
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <div class="accordion-header" id="heading_three">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse_three"
                              aria-expanded="false"
                              aria-controls="collapse_three"
                            >
                              Can you prevent mental health problems?
                            </button>
                          </div>
                          <div
                            id="collapse_three"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading_three"
                            data-bs-parent="#faq_accordion"
                          >
                            <div class="accordion-body">
                              <p class="m-0">
                                While we can't always <strong>prevent mental health challenges entirely</strong>, there are steps we can take to <strong>promote mental well-being and resilience</strong>.
                                This may include <strong>adopting healthy lifestyle habits</strong>, <strong>seeking social support</strong>, <strong>practicing stress management techniques</strong>, and <strong>accessing mental health services when needed</strong>. 
                                By taking <strong>proactive steps to care for our mental health</strong>, we can <strong>reduce the risk of developing more significant issues down the road</strong>.
                              </p>
                              
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <div class="accordion-header" id="heading_four">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse_four"
                              aria-expanded="false"
                              aria-controls="collapse_four"
                            >
                            Where can I find tools to enhance my relaxation and self-care routine?
                            </button>
                          </div>
                          <div
                            id="collapse_four"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading_four"
                            data-bs-parent="#faq_accordion"
                          >
                            <div class="accordion-body">
                              <p class="m-0">
                                Our <strong>shop</strong> offers a <strong>curated selection</strong> of products designed to support your <strong>well-being</strong> and promote <strong>relaxation</strong>. 
                                From <strong>calming aromatherapy essentials</strong> to <strong>cozy comfort items</strong>, we have everything you need to create a <strong>serene sanctuary</strong> at home.
                              </p>
                              
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <div class="accordion-header" id="heading_five">
                            <button
                              class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapse_five"
                              aria-expanded="false"
                              aria-controls="collapse_five"
                            >
                            What if I need inspiration and support on my mental wellness journey?
                            </button>
                          </div>
                          <div
                            id="collapse_five"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading_five"
                            data-bs-parent="#faq_accordion"
                          >
                            <div class="accordion-body">
                              <p class="m-0">
                                If you're seeking <strong>inspiration</strong> and <strong>support</strong> as you navigate your <strong>mental wellness journey</strong>, our vibrant <strong>blog community</strong> is here for you.
                                Explore a wealth of engaging <strong>content</strong>, heartfelt <strong>stories</strong>, and practical <strong>insights</strong> crafted to <strong>empower</strong> and <strong>uplift</strong> you.
                                Join us as we embark on a shared exploration of <strong>mental health</strong>, <strong>supporting each other</strong>, sharing <strong>experiences</strong>, and discovering the path to <strong>greater well-being</strong> together.
                              </p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-6" >
                  <div class="images_group_widget"  >
                    <ul class="unordered_list">
                      <li>
                        
                        <img
                          src="{{asset('assets/images/gallery/Doctorb.png')}}"
                          alt="Help Me Balance"
                        />
                        <img
                          src="{{asset('assets/images/gallery/Doctorg.png')}}"
                          alt="Help Me Balance"
                        />
                      </li>
                      <li>
                        <img
                          src="{{asset('assets/images/gallery/Meditation.png')}}"
                          alt="Help Me Balance"
                        />
                        <img
                          src="{{asset('assets/images/gallery/Community.png')}}"
                          alt="Help Me Balance"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </section>
           <!-- Contact Section - Start
        ================================================== -->
        <section class="contact_section section_space_lg">
            <div class="container">
              <div class="section_heading text-center">
                <h2 class="section_heading_text">Contact Info</h2>
                <p class="section_heading_description mb-0">
                  <strong>Feel free to reach out to us</strong> for any <strong>inquiries</strong> or <strong>assistance</strong>.We're here to <strong> help!</strong>
                </p>
                
              </div>
              <div class="contact_infobox_wrapper row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact_info_box">
                    <div class="item_icon">
                      <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="item_contact">
                      <h3 class="item_title">Phone Numbers</h3>
                      <ul class="info_list unordered_list_block">
                        <li>
                          <span class="info_text">+216 71 234 567</span>
                        </li>
                        <li>
                          <span class="info_text">+216 71 890 123</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact_info_box">
                    <div class="item_icon">
                      <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="item_contact">
                      <h3 class="item_title">Email</h3>
                      <ul class="info_list unordered_list_block">
                        <li>
                          <span class="info_text">info@helpmebalance.tn</span>
                        </li>
                        <li>
                          <span class="info_text">contact@helpmebalance.tn</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact_info_box">
                    <div class="item_icon">
                      <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="item_contact">
                      <h3 class="item_title">Address</h3>
                      <ul class="info_list unordered_list_block">
                        <li>
                          <span class="info_text"> Technopark El Ghazela,</span>
                        </li>
                        <li>
                          <span class="info_text">Ariana ,Tunisia </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact_info_box">
                    <div class="item_icon">
                      <i class="fa-solid fa-clock"></i>
                    </div>
                    <div class="item_contact">
                      <h3 class="item_title">Working Hours</h3>
                      <ul class="info_list unordered_list_block">
                        <li>
                          <span class="info_text">Mon to Fri 8 am - 6 pm</span>
                        </li>
                        <li>
                          <span class="info_text">Sat to Sun 9 am - 2 pm</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Contact Section - End
          ================================================== -->
          {% endblock %} 