{% extends 'frontClient/base.html.twig' %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card shadow">
        <div class="card-body p-4">
          <h3 class="card-title text-center mb-4">Please Send Detail</h3>
          {{ include('rendez_vous/_form.html.twig') }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
