{% extends 'frontClient/base.html.twig' %}

{% block body %}

<section class="testimonial_section section_space_lg">
  <div class="container">
    <div class="section_heading text-center">
      <h2 class="section_heading_text">Celebrating Our Patients' Journeys</h2>
      <p class="section_heading_description mb-0">
        Hear from our <b>community</b> and be inspired by their <b>resilience</b> and <b>courage</b>.
      </p>
    </div>
    <div class="testimonial_carousel">
      <div class="carousel_2col row" data-slick='{"arrows":false}'>
        {% for rv in rendezvous %}
        <div class="carousel_item col-">
          <div class="testimonial_item">
            <ul class="rating_star unordered_list">
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
              <li><i class="fa-solid fa-star"></i></li>
            </ul>
            <div class="author_box">
              <div class="author_box_image">
                <img src="{{asset('assets/images/gallery/4.png')}}" alt="Reviewer Image" />
              </div>
              <div class="author_box_content ">
                <h3 class="author_box_name">{{rv.dateR|date('Y-m-d H:i:s') }}</h3>
                <span class="author_box_designation">{{rv.statut ? 'Confirmed' : 'Not Confirmed'}}</span>
              </div>
            </div>
            <p class="mb-0 d-flex justify-content-center">
              {{rv.nomService}}
            </p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>
{% endblock %}