{% extends 'base.html.twig' %}

{% block title %}Edit RendezVous{% endblock %}

{% block body %}
    <h1>Edit RendezVous</h1>

    {{ include('rendez_vous/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
