{% extends 'frontClient/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="text-center">Consulation</h2>
                    <a class="w-100 d-flex justify-content-center" href="{{ path('app_rendez_vous_confirm', {"psyid": consultation.Psychiatre.id})
                }}">Back to all appointments</a>
                    <hr>
                    <div class="card shadow mt-2 w-100 d-flex justify-content-center">
                        <p class="text-center ">Note:</br>{{consultation.note}}</p>
                        <p class="text-center">Recommandation for another
                            session:</br>{{consultation.RecommandationSuivi ? 'Recommand' : 'If he wants'}}</p>
                        <form class="text-center" action="{{ path('app_consultation_edit', {"id": consultation.id}) }}">
                            <button class="btn btn-primary btn-lg px-4 py-2">Update Consultation</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}