{# templates/password_reset/request.html.twig #}
{% extends 'frontClient/base.html.twig' %}


{% block title %}Reset your password{% endblock %}

{% block body %}
<script>
    {% for flash_message in app.flashes('success') %}
        window.onload = function() {
            Toastify({
                text: "{{ flash_message }}",
                duration: 3000,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
            }).showToast();
        };
    {% endfor %}
</script>

<div class="container p-4">
<div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Password Reset</h3>
                        </div>
                        <div class="card-body">
                        <form method="post">
                                <div class="form-group">
                                    <label for="inputResetPasswordEmail">Email</label>
                                    <input type="email" class="form-control" id="inputResetPasswordEmail"  id="email" name="email" required autofocus>
                                    <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                            Password reset instructions will be sent to this email address.
                                        </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
{% if message is defined %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}
