{# templates/components/card_component.html.twig #}

<div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden p-4">
  <div class="flex items-center space-x-4">
    <div class="p-2 bg-blue-100 rounded-full">
      <!-- Eye Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825C18.125 18.825 21.25 15.7 21.25 12C21.25 8.3 18.125 5.175 13.875 5.175C9.625 5.175 6.5 8.3 6.5 12C6.5 15.7 9.625 18.825 13.875 18.825Z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 15.25C15.4069 15.25 16.625 14.0319 16.625 12.5C16.625 10.9681 15.4069 9.75 13.875 9.75C12.3431 9.75 11.125 10.9681 11.125 12.5C11.125 14.0319 12.3431 15.25 13.875 15.25Z" />
      </svg>
    </div>
    <div class="flex-1">
      <p class="text-lg font-semibold text-gray-700">$3.456K</p>
      <p class="text-sm text-gray-500">Total views</p>
    </div>
    <div class="text-green-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
      </svg>
      0.43%
    </div>
  </div>
</div>
<div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden p-4">
  <div class="flex items-center space-x-4">
    <div class="p-2 bg-blue-100 rounded-full">
      <!-- Shopping cart Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M11.7531 16.4312C10.3781 16.4312 9.27808 17.5312 9.27808 18.9062C9.27808 20.2812 10.3781 21.3812 11.7531 21.3812C13.1281 21.3812 14.2281 20.2812 14.2281 18.9062C14.2281 17.5656 13.0937 16.4312 11.7531 16.4312ZM11.7531 19.8687C11.2375 19.8687 10.825 19.4562 10.825 18.9406C10.825 18.425 11.2375 18.0125 11.7531 18.0125C12.2687 18.0125 12.6812 18.425 12.6812 18.9406C12.6812 19.4219 12.2343 19.8687 11.7531 19.8687Z" fill=""></path>
                    <path d="M5.22183 16.4312C3.84683 16.4312 2.74683 17.5312 2.74683 18.9062C2.74683 20.2812 3.84683 21.3812 5.22183 21.3812C6.59683 21.3812 7.69683 20.2812 7.69683 18.9062C7.69683 17.5656 6.56245 16.4312 5.22183 16.4312ZM5.22183 19.8687C4.7062 19.8687 4.2937 19.4562 4.2937 18.9406C4.2937 18.425 4.7062 18.0125 5.22183 18.0125C5.73745 18.0125 6.14995 18.425 6.14995 18.9406C6.14995 19.4219 5.73745 19.8687 5.22183 19.8687Z" fill=""></path>
        <path d="M19.0062 0.618744H17.15C16.325 0.618744 15.6031 1.23749 15.5 2.06249L14.95 6.01562H1.37185C1.0281 6.01562 0.684353 6.18749 0.443728 6.46249C0.237478 6.73749 0.134353 7.11562 0.237478 7.45937C0.237478 7.49374 0.237478 7.49374 0.237478 7.52812L2.36873 13.9562C2.50623 14.4375 2.9531 14.7812 3.46873 14.7812H12.9562C14.2281 14.7812 15.3281 13.8187 15.5 12.5469L16.9437 2.26874C16.9437 2.19999 17.0125 2.16562 17.0812 2.16562H18.9375C19.35 2.16562 19.7281 1.82187 19.7281 1.37499C19.7281 0.928119 19.4187 0.618744 19.0062 0.618744ZM14.0219 12.3062C13.9531 12.8219 13.5062 13.2 12.9906 13.2H3.7781L1.92185 7.56249H14.7094L14.0219 12.3062Z" fill=""></path>
      </svg>
    </div>
    <div class="flex-1">
      <p class="text-lg font-semibold text-gray-700">$45,2K</p>
      <p class="text-sm text-gray-500">Total Profit</p>
    </div>
    <div class="text-green-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
      </svg>
      0.43%
    </div>
  </div>
</div>
<div class="max-w-sm bg-white rounded-lg shadow-md overflow-hidden p-4">
  <div class="flex items-center space-x-4">
    <div class="p-2 bg-blue-100 rounded-full">
      <!-- Eye Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825C18.125 18.825 21.25 15.7 21.25 12C21.25 8.3 18.125 5.175 13.875 5.175C9.625 5.175 6.5 8.3 6.5 12C6.5 15.7 9.625 18.825 13.875 18.825Z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 15.25C15.4069 15.25 16.625 14.0319 16.625 12.5C16.625 10.9681 15.4069 9.75 13.875 9.75C12.3431 9.75 11.125 10.9681 11.125 12.5C11.125 14.0319 12.3431 15.25 13.875 15.25Z" />
      </svg>
    </div>
    <div class="flex-1">
      <p class="text-lg font-semibold text-gray-700">$3.456K</p>
      <p class="text-sm text-gray-500">Total views</p>
    </div>
    <div class="text-green-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
      </svg>
      0.43%
    </div>
  </div>
</div>
