{# templates/emails/reset_password.html.twig #}

<p>Hello,</p>

<p>You have requested to reset your password. Click the link below to set a new password:</p>

<a href="{{ url('app_reset_password_confirm', {token: token}) }}">Reset Password</a>

<p>If you didn't request this, please ignore this email.</p>
